[Desktop Entry]
Name=Stoat Homelab
Comment=Open source, user-first chat platform
Exec=stoat-homelab
Terminal=false
Type=Application
Icon=io.github.yperfectbr.StoatHomelab
Categories=Network;InstantMessaging
StartupWMClass=stoat-homelab
X-Desktop-File-Install-Version=0.26
X-Flatpak=io.github.yperfectbr.StoatHomelab
